<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webApp.dao.ILoginlimitIpDao">
	<resultMap id="LoginlimitIpMap" type="com.cn.webApp.model.LoginlimitIp">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="EMPCODE" property="empcode" jdbcType="VARCHAR" />
		<result column="LIMITIP" property="limitip" jdbcType="VARCHAR" />
		<result column="CUSTOMERUNITCODE" property="customerunitcode"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_LoginlimitIp_List">
		ID, EMPCODE, LIMITIP, CUSTOMERUNITCODE
	</sql>
	<select id="selectByPrimaryKey" resultMap="LoginlimitIpMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_LoginlimitIp_List" />
		from base_login_limitip
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByUser" resultMap="LoginlimitIpMap"
		parameterType="com.cn.webApp.model.User" resultType="list">
		select
		<include refid="Base_LoginlimitIp_List" />
		from base_login_limitip
		where empcode  = #{empcode ,jdbcType=VARCHAR}
		and customerunitcode =#{customerunitcode,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from base_login_limitip
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteByEmpCode" parameterType="java.lang.String">
		delete from base_login_limitip
		where EMPCODE = #{empcode,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cn.webApp.model.LoginlimitIp">
		insert into base_login_limitip (ID, EMPCODE, LIMITIP,
		CUSTOMERUNITCODE)
		values (#{id,jdbcType=VARCHAR}, #{empcode,jdbcType=VARCHAR},
		#{limitip,jdbcType=VARCHAR},
		#{customerunitcode,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cn.webApp.model.LoginlimitIp">
		insert into base_login_limitip
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="empcode != null">
				EMPCODE,
			</if>
			<if test="limitip != null">
				LIMITIP,
			</if>
			<if test="customerunitcode != null">
				CUSTOMERUNITCODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="empcode != null">
				#{empcode,jdbcType=VARCHAR},
			</if>
			<if test="limitip != null">
				#{limitip,jdbcType=VARCHAR},
			</if>
			<if test="customerunitcode != null">
				#{customerunitcode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cn.webApp.model.LoginlimitIp">
		update base_login_limitip
		<set>
			<if test="empcode != null">
				EMPCODE = #{empcode,jdbcType=VARCHAR},
			</if>
			<if test="limitip != null">
				LIMITIP = #{limitip,jdbcType=VARCHAR},
			</if>
			<if test="customerunitcode != null">
				CUSTOMERUNITCODE = #{customerunitcode,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cn.webApp.model.LoginlimitIp">
		update base_login_limitip
		set EMPCODE = #{empcode,jdbcType=VARCHAR},
		LIMITIP = #{limitip,jdbcType=VARCHAR},
		CUSTOMERUNITCODE = #{customerunitcode,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>