<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webApp.dao.IMenuDao">
	<resultMap id="MenuMap" type="com.cn.webApp.model.Menu">
		<id column="MENUID" property="menuid" jdbcType="VARCHAR" />
		<result column="ID" property="id" jdbcType="VARCHAR" />
		<result column="MODULEID" property="moduleid" jdbcType="VARCHAR" />
		<result column="MENUNAME" property="menuname" jdbcType="VARCHAR" />
		<result column="SMALLICON" property="smallicon" jdbcType="VARCHAR" />
		<result column="NAVLINK" property="navlink" jdbcType="VARCHAR" />
		<result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
		<result column="LARGEICON" property="largeicon" jdbcType="VARCHAR" />
		<result column="PARENTMENUID" property="parentmenuid" jdbcType="VARCHAR" />
		<result column="SORTID" property="sortid" jdbcType="INTEGER" />
		<result column="ISVISIBLE" property="isvisible" jdbcType="INTEGER" />
		<result column="APPID" property="appid" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="MenuTreeMap" type="java.util.HashMap">
		<result column="ID" property="id" />
		<result column="PID" property="pid" />
		<result column="NODEID" property="nodeid" />
		<result column="NODENAME" property="nodename" />
		<result column="APPID" property="appid" />
		<result column="SORTID" property="sortid" />
	</resultMap>
	<sql id="Menu_List">
		MENUID, ID, MODULEID, MENUNAME, SMALLICON, NAVLINK,
		DESCRIPTION, LARGEICON,
		PARENTMENUID,
		SORTID, ISVISIBLE, APPID
	</sql>
	<!-- 获取全部菜单 -->
	<select id="selectAllMenu" resultMap="MenuMap" resultType="list">
		SELECT DISTINCT m.* FROM BASE_MENU m INNER JOIN base_app_module am ON
		m.moduleid = am.moduleid
		WHERE am.LIMITDT >= SYSDATE()
		and m.ISVISIBLE
		=1 order by m.SORTID asc
	</select>
	<!-- 租户管理员，显示租户被授权的所有菜单 -->
	<select id="selectByCunstomerUnitCode" resultMap="MenuMap"
		resultType="list" parameterType="java.lang.String">
		SELECT m.* FROM BASE_MENU m
		LEFT JOIN
		BASE_LEGAL_PERSON_MODULE rm ON m.moduleid = rm.appmodelid
		LEFT JOIN
		base_app_module am ON m.moduleid = am.moduleid
		WHERE
		rm.customerunitcode = #{customerunitcode,jdbcType=VARCHAR}
		and
		am.limitdt >= SYSDATE()
		and m.ISVISIBLE =1 order by m.SORTID asc
	</select>
	<!-- 普通用户，根据角色授权加载 -->
	<select id="selectByRoles" resultMap="MenuMap" resultType="list">
		SELECT DISTINCT m.* FROM BASE_MENU m INNER JOIN BASE_ROLE_MENU rm ON
		m.menuid = rm.menuid
		WHERE rm.ROLEID in(select id from base_role where ROLESTATE=1 and id in	
<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>)
		and m.ISVISIBLE =1 order by
		m.SORTID asc
	</select>

	<!-- 个人菜单推荐列表 -->
	<select id="userRecommendMenu" resultMap="MenuMap" resultType="list"
		parameterType="java.lang.String">
		SELECT * from base_menu WHERE id
		in(SELECT MENU_ID from
		base_menu_recommend where
		USER_ID=#{userid,jdbcType=VARCHAR} and
		type=2)
	</select>

	<!-- 系统菜单推荐列表 -->
	<select id="custcodeRecommendMenu" resultMap="MenuMap"
		resultType="list" parameterType="java.lang.String">
		SELECT * from base_menu WHERE id
		in(SELECT MENU_ID from base_menu_recommend where
		CUSTOMERUNITCODE=#{customerunitcode,jdbcType=VARCHAR} and type=1)
	</select>

	<select id="selectByModuleId" resultMap="MenuMap" resultType="list"
		parameterType="java.lang.String">
		SELECT * from base_menu WHERE MODULEID in (select
		mm.MODULEID
		from base_legal_person_module blp left join base_appmodule
		rel on
		blp.appmodelid =rel.moduleid
		right join base_app_module mm on
		rel.moduleid = mm.moduleid and
		blp.customerunitcode=#{customerunitcode,jdbcType=VARCHAR}
		where
		rel.appid =(SELECT APPID from base_app_redit where
		APPID= (select
		distinct(q.APPID) from base_legal_person_module q where
		q.customerunitcode=#{customerunitcode,jdbcType=VARCHAR})))
	</select>

	<!-- app的树状菜单列表 -->
	<select id="queryAppMenuByAppId" resultMap="MenuTreeMap"
		resultType="list" parameterType="java.lang.String">
		select nt.* from (select
		CONCAT('m',a.MODULEID) id,'0' pid,b.MODULEID
		nodeid,b.MODULENAME
		nodename,a.appid,a.SORTID from
		BASE_APPMODULE a LEFT JOIN
		BASE_APP_MODULE b on a.MODULEID=b.moduleid WHERE
		a.APPID=#{appid,jdbcType=VARCHAR}
		union all select
		CONCAT('n',menu.menuid), case when menu.parentmenuid='' or
		menu.parentmenuid is null then
		CONCAT('m',MENU.moduleid) else
		CONCAT('n',MENU.PARENTMENUID) end as pid,menu.menuid
		nodeid,menu.menuname nodename,#{appid,jdbcType=VARCHAR}
		appid,menu.sortid from
		BASE_MENU menu where menu.moduleID in
		(SELECT
		moduleid from BASE_APPMODULE where APPID=#{appid,jdbcType=VARCHAR}))
		nt order by
		nt.sortid
	</select>

	<select id="selectByPrimaryKey" resultMap="MenuMap"
		parameterType="java.lang.String">
		select
		<include refid="Menu_List" />
		from base_menu
		where MENUID = #{menuid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		base_menu
		where MENUID = #{menuid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cn.webApp.model.Menu">
		insert into base_menu (MENUID,
		ID, MODULEID,
		MENUNAME, SMALLICON, NAVLINK,
		DESCRIPTION, LARGEICON,
		PARENTMENUID,
		SORTID, ISVISIBLE, APPID
		)
		values
		(#{menuid,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR},
		#{moduleid,jdbcType=VARCHAR},
		#{menuname,jdbcType=VARCHAR},
		#{smallicon,jdbcType=VARCHAR}, #{navlink,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}, #{largeicon,jdbcType=VARCHAR},
		#{parentmenuid,jdbcType=VARCHAR},
		#{sortid,jdbcType=INTEGER},
		#{isvisible,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.cn.webApp.model.Menu">
		insert into base_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="menuid != null">
				MENUID,
			</if>
			<if test="id != null">
				ID,
			</if>
			<if test="moduleid != null">
				MODULEID,
			</if>
			<if test="menuname != null">
				MENUNAME,
			</if>
			<if test="smallicon != null">
				SMALLICON,
			</if>
			<if test="navlink != null">
				NAVLINK,
			</if>
			<if test="description != null">
				DESCRIPTION,
			</if>
			<if test="largeicon != null">
				LARGEICON,
			</if>
			<if test="parentmenuid != null">
				PARENTMENUID,
			</if>
			<if test="sortid != null">
				SORTID,
			</if>
			<if test="isvisible != null">
				ISVISIBLE,
			</if>
			<if test="appid != null">
				APPID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="menuid != null">
				#{menuid,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="moduleid != null">
				#{moduleid,jdbcType=VARCHAR},
			</if>
			<if test="menuname != null">
				#{menuname,jdbcType=VARCHAR},
			</if>
			<if test="smallicon != null">
				#{smallicon,jdbcType=VARCHAR},
			</if>
			<if test="navlink != null">
				#{navlink,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="largeicon != null">
				#{largeicon,jdbcType=VARCHAR},
			</if>
			<if test="parentmenuid != null">
				#{parentmenuid,jdbcType=VARCHAR},
			</if>
			<if test="sortid != null">
				#{sortid,jdbcType=INTEGER},
			</if>
			<if test="isvisible != null">
				#{isvisible,jdbcType=INTEGER},
			</if>
			<if test="appid != null">
				#{appid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cn.webApp.model.Menu">
		update base_menu
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=VARCHAR},
			</if>
			<if test="moduleid != null">
				MODULEID = #{moduleid,jdbcType=VARCHAR},
			</if>
			<if test="menuname != null">
				MENUNAME = #{menuname,jdbcType=VARCHAR},
			</if>
			<if test="smallicon != null">
				SMALLICON = #{smallicon,jdbcType=VARCHAR},
			</if>
			<if test="navlink != null">
				NAVLINK = #{navlink,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION = #{description,jdbcType=VARCHAR},
			</if>
			<if test="largeicon != null">
				LARGEICON = #{largeicon,jdbcType=VARCHAR},
			</if>
			<if test="parentmenuid != null">
				PARENTMENUID = #{parentmenuid,jdbcType=VARCHAR},
			</if>
			<if test="sortid != null">
				SORTID = #{sortid,jdbcType=INTEGER},
			</if>
			<if test="isvisible != null">
				ISVISIBLE = #{isvisible,jdbcType=INTEGER},
			</if>
			<if test="appid != null">
				APPID = #{appid,jdbcType=VARCHAR},
			</if>
		</set>
		where MENUID = #{menuid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cn.webApp.model.Menu">
		update base_menu
		set ID = #{id,jdbcType=VARCHAR},
		MODULEID =
		#{moduleid,jdbcType=VARCHAR},
		MENUNAME = #{menuname,jdbcType=VARCHAR},
		SMALLICON = #{smallicon,jdbcType=VARCHAR},
		NAVLINK =
		#{navlink,jdbcType=VARCHAR},
		DESCRIPTION =
		#{description,jdbcType=VARCHAR},
		LARGEICON =
		#{largeicon,jdbcType=VARCHAR},
		PARENTMENUID =
		#{parentmenuid,jdbcType=VARCHAR},
		SORTID = #{sortid,jdbcType=INTEGER},
		ISVISIBLE = #{isvisible,jdbcType=INTEGER},
		APPID =
		#{appid,jdbcType=VARCHAR}
		where MENUID = #{menuid,jdbcType=VARCHAR}
	</update>
</mapper>