<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webApp.dao.IAppReditDao">
	<resultMap id="AppReditMap" type="com.cn.webApp.model.AppRedit">
		<id column="APPID" property="appid" jdbcType="VARCHAR" />
		<result column="ID" property="id" jdbcType="VARCHAR" />
		<result column="SYSCODE" property="syscode" jdbcType="VARCHAR" />
		<result column="APPNAME" property="appname" jdbcType="VARCHAR" />
		<result column="APPVER" property="appver" jdbcType="VARCHAR" />
		<result column="APPDESCRIPTION" property="appdescription"
			jdbcType="VARCHAR" />
		<result column="APPLIMITNUM" property="applimitnum" jdbcType="INTEGER" />
		<result column="APPLIMITDATE" property="applimitdate" jdbcType="TIMESTAMP" />
		<result column="OPDT" property="opdt" jdbcType="TIMESTAMP" />
		<result column="REDITASN" property="reditasn" jdbcType="VARCHAR" />
		<result column="REDITDT" property="reditdt" jdbcType="TIMESTAMP" />
		<result column="APPTYPE" property="apptype" jdbcType="CHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="VERSION" property="version" jdbcType="INTEGER" />
		<result column="SIGN" property="sign" jdbcType="VARCHAR" />
		<result column="REGCODE" property="regcode" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="AppReditMapWithBLOBs" type="com.cn.webApp.model.AppRedit"
		extends="AppReditMap">
		<result column="ACCREDITEDCODE" property="accreditedcode"
			jdbcType="LONGVARCHAR" />
	</resultMap>

	<resultMap id="AppMessageMap" type="java.util.HashMap">
		<id column="APPID" property="appid" />
		<result column="ID" property="id" />
		<result column="APPNAME" property="appname" />
		<result column="APPVER" property="appver" />
		<result column="APPLIMITNUM" property="applimitnum" />
		<result column="APPLIMITDATE" property="applimitdate" />
		<result column="applimitnum" property="applimitnum" />
		<result column="cuscount" property="cuscount" />
		<result column="modulecount" property="modulecount" />
	</resultMap>
	<sql id="AppRedit_List">
		APPID, ID, SYSCODE, APPNAME, APPVER, APPDESCRIPTION,
		APPLIMITNUM,
		APPLIMITDATE, OPDT,
		REDITASN, REDITDT, APPTYPE, CREATE_BY,
		CREATE_DATE, UPDATE_BY, UPDATE_DATE,
		VERSION,
		SIGN, REGCODE
	</sql>
	<sql id="Blob_AppRedit_List">
		ACCREDITEDCODE
	</sql>
	<select id="selectByPrimaryKey" resultMap="AppReditMapWithBLOBs"
		parameterType="java.lang.String">
		select
		<include refid="AppRedit_List" />
		,
		<include refid="Blob_AppRedit_List" />
		from base_app_redit
		where APPID = #{appid,jdbcType=VARCHAR}
	</select>
    <!-- 查询注册的app相关信息和最大接入数、当前已接入数、模块总数 -->
	<select id="AppMessage" resultMap="AppMessageMap" resultType="list">
		SELECT a.Id,a.appid, a.AppName, a.APPVER,a.APPLIMITDATE,a.applimitnum
		,
		(select count(distinct (b.customerunitcode)) from BASE_LEGAL_PERSON_MODULE b
		left join base_legal_person q
		on b.customerunitcode = q.customerunitcode where b.APPID = a.APPID and
		q.isdelete = 0) cusCount,
		(select count(1) from BASE_APPMODULE b where
		b.APPID=a.APPID) moduleCount
		FROM BASE_APP_REDIT a where a.apptype=0 order by a.id
	</select>
	<!-- 查询appid对应模块的app信息 -->
	<select id="findStandardBusinessAppredit" resultMap="AppReditMapWithBLOBs" resultType="list" parameterType="java.lang.String">
	 select distinct d.* from base_appmodule c left join base_app_redit d on c.appid = d.appid
		 where c.moduleid in (select b.moduleid from base_appmodule b left join base_app_redit a
		 on a.appid = b.appid WHERE a.appid =#{appid,jdbcType=VARCHAR})
		 and d.apptype = 0
	</select>
	<!-- 查询不是基础平台的标准包app -->
    <select id="findAll_nobase" resultMap="AppReditMapWithBLOBs" resultType="list">
	    select
		<include refid="AppRedit_List" />
		,
		<include refid="Blob_AppRedit_List" />
		 FROM BASE_APP_REDIT a where a.appid != 050100 and a.sign =0 order by a.id
	</select>
	<!-- 所有标准包app -->
	<select id="findAll" resultMap="AppReditMapWithBLOBs" resultType="list">
	    select
		<include refid="AppRedit_List" />
		,
		<include refid="Blob_AppRedit_List" />
		 FROM BASE_APP_REDIT a where a.sign =0 order by a.id,a.apptype
	</select>
	
	<!-- 根据授权验证查询所有应用包 -->
	<select id="selectByBusinessAppredit" resultMap="AppReditMapWithBLOBs"
		resultType="list">
		select
		<include refid="AppRedit_List" />
		,
		<include refid="Blob_AppRedit_List" />
		from base_app_redit
		where APPTYPE=0 and APPID in (SELECT AUTH_ID from
		base_authorize)
	</select>
	<!-- 根据租户号获取租户被授权的应用-->
    <select id="getAppreditByCustcode" resultMap="AppReditMapWithBLOBs" parameterType="java.lang.String">
    SELECT * from  base_app_redit where 
    APPID= (select distinct(q.APPID) from base_legal_person_module q  where q.customerunitcode =#{customerunitcode,jdbcType=VARCHAR})
    </select>
    <!-- 根据租户号获取租户被授权的应用-->
      <select id="getAppreditByCustcode2" resultMap="AppReditMapWithBLOBs" parameterType="java.lang.String" resultType="list">
    SELECT * from  base_app_redit where 
    APPID= (select distinct(q.APPID) from base_legal_person_module q  where q.customerunitcode =#{customerunitcode,jdbcType=VARCHAR})
    </select>
    
	<select id="findByAppId" resultMap="AppReditMapWithBLOBs"
		resultType="list" parameterType="java.lang.String">
		select
		<include refid="AppRedit_List" />
		,
		<include refid="Blob_AppRedit_List" />
		from base_app_redit
		where APPID = #{appid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		base_app_redit
		where APPID = #{appid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cn.webApp.model.AppRedit">
		insert into base_app_redit
		(APPID, ID, SYSCODE,
		APPNAME, APPVER, APPDESCRIPTION,
		APPLIMITNUM,
		APPLIMITDATE, OPDT,
		REDITASN, REDITDT, APPTYPE,
		CREATE_BY, CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE, VERSION, SIGN,
		REGCODE, ACCREDITEDCODE)
		values
		(#{appid,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR},
		#{syscode,jdbcType=VARCHAR},
		#{appname,jdbcType=VARCHAR},
		#{appver,jdbcType=VARCHAR}, #{appdescription,jdbcType=VARCHAR},
		#{applimitnum,jdbcType=INTEGER}, #{applimitdate,jdbcType=TIMESTAMP},
		#{opdt,jdbcType=TIMESTAMP},
		#{reditasn,jdbcType=VARCHAR},
		#{reditdt,jdbcType=TIMESTAMP}, #{apptype,jdbcType=CHAR},
		#{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP},
		#{version,jdbcType=INTEGER}, #{sign,jdbcType=VARCHAR},
		#{regcode,jdbcType=VARCHAR}, #{accreditedcode,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cn.webApp.model.AppRedit">
		insert into base_app_redit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="appid != null">
				APPID,
			</if>
			<if test="id != null">
				ID,
			</if>
			<if test="syscode != null">
				SYSCODE,
			</if>
			<if test="appname != null">
				APPNAME,
			</if>
			<if test="appver != null">
				APPVER,
			</if>
			<if test="appdescription != null">
				APPDESCRIPTION,
			</if>
			<if test="applimitnum != null">
				APPLIMITNUM,
			</if>
			<if test="applimitdate != null">
				APPLIMITDATE,
			</if>
			<if test="opdt != null">
				OPDT,
			</if>
			<if test="reditasn != null">
				REDITASN,
			</if>
			<if test="reditdt != null">
				REDITDT,
			</if>
			<if test="apptype != null">
				APPTYPE,
			</if>
			<if test="createBy != null">
				CREATE_BY,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="updateBy != null">
				UPDATE_BY,
			</if>
			<if test="updateDate != null">
				UPDATE_DATE,
			</if>
			<if test="version != null">
				VERSION,
			</if>
			<if test="sign != null">
				SIGN,
			</if>
			<if test="regcode != null">
				REGCODE,
			</if>
			<if test="accreditedcode != null">
				ACCREDITEDCODE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="appid != null">
				#{appid,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="syscode != null">
				#{syscode,jdbcType=VARCHAR},
			</if>
			<if test="appname != null">
				#{appname,jdbcType=VARCHAR},
			</if>
			<if test="appver != null">
				#{appver,jdbcType=VARCHAR},
			</if>
			<if test="appdescription != null">
				#{appdescription,jdbcType=VARCHAR},
			</if>
			<if test="applimitnum != null">
				#{applimitnum,jdbcType=INTEGER},
			</if>
			<if test="applimitdate != null">
				#{applimitdate,jdbcType=TIMESTAMP},
			</if>
			<if test="opdt != null">
				#{opdt,jdbcType=TIMESTAMP},
			</if>
			<if test="reditasn != null">
				#{reditasn,jdbcType=VARCHAR},
			</if>
			<if test="reditdt != null">
				#{reditdt,jdbcType=TIMESTAMP},
			</if>
			<if test="apptype != null">
				#{apptype,jdbcType=CHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="sign != null">
				#{sign,jdbcType=VARCHAR},
			</if>
			<if test="regcode != null">
				#{regcode,jdbcType=VARCHAR},
			</if>
			<if test="accreditedcode != null">
				#{accreditedcode,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cn.webApp.model.AppRedit">
		update base_app_redit
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=VARCHAR},
			</if>
			<if test="syscode != null">
				SYSCODE = #{syscode,jdbcType=VARCHAR},
			</if>
			<if test="appname != null">
				APPNAME = #{appname,jdbcType=VARCHAR},
			</if>
			<if test="appver != null">
				APPVER = #{appver,jdbcType=VARCHAR},
			</if>
			<if test="appdescription != null">
				APPDESCRIPTION = #{appdescription,jdbcType=VARCHAR},
			</if>
			<if test="applimitnum != null">
				APPLIMITNUM = #{applimitnum,jdbcType=INTEGER},
			</if>
			<if test="applimitdate != null">
				APPLIMITDATE = #{applimitdate,jdbcType=TIMESTAMP},
			</if>
			<if test="opdt != null">
				OPDT = #{opdt,jdbcType=TIMESTAMP},
			</if>
			<if test="reditasn != null">
				REDITASN = #{reditasn,jdbcType=VARCHAR},
			</if>
			<if test="reditdt != null">
				REDITDT = #{reditdt,jdbcType=TIMESTAMP},
			</if>
			<if test="apptype != null">
				APPTYPE = #{apptype,jdbcType=CHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="version != null">
				VERSION = #{version,jdbcType=INTEGER},
			</if>
			<if test="sign != null">
				SIGN = #{sign,jdbcType=VARCHAR},
			</if>
			<if test="regcode != null">
				REGCODE = #{regcode,jdbcType=VARCHAR},
			</if>
			<if test="accreditedcode != null">
				ACCREDITEDCODE = #{accreditedcode,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where APPID = #{appid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.webApp.model.AppRedit">
		update
		base_app_redit
		set ID = #{id,jdbcType=VARCHAR},
		SYSCODE =
		#{syscode,jdbcType=VARCHAR},
		APPNAME = #{appname,jdbcType=VARCHAR},
		APPVER = #{appver,jdbcType=VARCHAR},
		APPDESCRIPTION =
		#{appdescription,jdbcType=VARCHAR},
		APPLIMITNUM =
		#{applimitnum,jdbcType=INTEGER},
		APPLIMITDATE =
		#{applimitdate,jdbcType=TIMESTAMP},
		OPDT = #{opdt,jdbcType=TIMESTAMP},
		REDITASN = #{reditasn,jdbcType=VARCHAR},
		REDITDT =
		#{reditdt,jdbcType=TIMESTAMP},
		APPTYPE = #{apptype,jdbcType=CHAR},
		CREATE_BY = #{createBy,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=TIMESTAMP},
		UPDATE_BY =
		#{updateBy,jdbcType=VARCHAR},
		UPDATE_DATE =
		#{updateDate,jdbcType=TIMESTAMP},
		VERSION =
		#{version,jdbcType=INTEGER},
		SIGN = #{sign,jdbcType=VARCHAR},
		REGCODE =
		#{regcode,jdbcType=VARCHAR},
		ACCREDITEDCODE =
		#{accreditedcode,jdbcType=LONGVARCHAR}
		where APPID =
		#{appid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cn.webApp.model.AppRedit">
		update
		base_app_redit
		set ID = #{id,jdbcType=VARCHAR},
		SYSCODE =
		#{syscode,jdbcType=VARCHAR},
		APPNAME = #{appname,jdbcType=VARCHAR},
		APPVER = #{appver,jdbcType=VARCHAR},
		APPDESCRIPTION =
		#{appdescription,jdbcType=VARCHAR},
		APPLIMITNUM =
		#{applimitnum,jdbcType=INTEGER},
		APPLIMITDATE =
		#{applimitdate,jdbcType=TIMESTAMP},
		OPDT = #{opdt,jdbcType=TIMESTAMP},
		REDITASN = #{reditasn,jdbcType=VARCHAR},
		REDITDT =
		#{reditdt,jdbcType=TIMESTAMP},
		APPTYPE = #{apptype,jdbcType=CHAR},
		CREATE_BY = #{createBy,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=TIMESTAMP},
		UPDATE_BY =
		#{updateBy,jdbcType=VARCHAR},
		UPDATE_DATE =
		#{updateDate,jdbcType=TIMESTAMP},
		VERSION =
		#{version,jdbcType=INTEGER},
		SIGN = #{sign,jdbcType=VARCHAR},
		REGCODE =
		#{regcode,jdbcType=VARCHAR}
		where APPID = #{appid,jdbcType=VARCHAR}
	</update>
</mapper>