<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webApp.dao.IAppResourceDao">
	<resultMap id="AppResourceMap" type="com.cn.webApp.model.AppResource">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="resourcename" property="resourcename" jdbcType="VARCHAR" />
		<result column="resourcepackageid" property="resourcepackageid"
			jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_AppResource_List">
		ID, resourcename, resourcepackageid, path, url, state,
		version
	</sql>
	<select id="selectByPrimaryKey" resultMap="AppResourceMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_AppResource_List" />
		from app_resource
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 分页查询 -->
	<select id="queryAppResourcePage" resultMap="AppResourceMap"
		parameterType="map">
		select
		<include refid="Base_AppResource_List" />
		from app_resource
		<where>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="resourcename != null">
				and resourcename = #{resourcename,jdbcType=VARCHAR}
			</if>
			<if test="resourcepackageid != null">
				and resourcepackageid =
				#{resourcepackageid,jdbcType=VARCHAR}
			</if>
			<if test="path != null">
				and path = #{path,jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="state != null">
				and state = #{state,jdbcType=INTEGER}
			</if>
			<if test="version != null">
				and version = #{version,jdbcType=VARCHAR}
			</if>
		</where>
		order by ${orderName} ${descAsc}
		<if test="startIndex != null and startIndex != ''">
			limit ${startIndex},
		</if>
		<if test="startIndex == null or startIndex == ''">
			limit 0,
		</if>
		<if test="endIndex != null and endIndex != ''">
			${endIndex}
		</if>
	</select>
	<!-- 条件查询list -->
	<select id="queryBySelective" resultMap="AppResourceMap"
		parameterType="com.cn.webApp.model.AppResource" resultType="list">
		select
		<include refid="Base_AppResource_List" />
		from app_resource
		<where>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="resourcename != null">
				and resourcename = #{resourcename,jdbcType=VARCHAR}
			</if>
			<if test="resourcepackageid != null">
				and resourcepackageid =
				#{resourcepackageid,jdbcType=VARCHAR}
			</if>
			<if test="path != null">
				and path = #{path,jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="state != null">
				and state = #{state,jdbcType=INTEGER}
			</if>
			<if test="version != null">
				and version = #{version,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="queryAppResourceCount" parameterType="com.cn.webApp.model.User"
		resultType="long">
		select count(*) from app_resource
		<where>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR}
			</if>
			<if test="resourcename != null">
				and resourcename = #{resourcename,jdbcType=VARCHAR}
			</if>
			<if test="resourcepackageid != null">
				and resourcepackageid =
				#{resourcepackageid,jdbcType=VARCHAR}
			</if>
			<if test="path != null">
				and path = #{path,jdbcType=VARCHAR}
			</if>
			<if test="url != null">
				and url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="state != null">
				and state = #{state,jdbcType=INTEGER}
			</if>
			<if test="version != null">
				and version = #{version,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		app_resource
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cn.webApp.model.AppResource">
		insert into app_resource (ID,
		resourcename, resourcepackageid,
		path, url, state, version
		)
		values
		(#{id,jdbcType=VARCHAR}, #{resourcename,jdbcType=VARCHAR},
		#{resourcepackageid,jdbcType=VARCHAR},
		#{path,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
		#{version,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.cn.webApp.model.AppResource">
		insert into app_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="resourcename != null">
				resourcename,
			</if>
			<if test="resourcepackageid != null">
				resourcepackageid,
			</if>
			<if test="path != null">
				path,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="version != null">
				version,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="resourcename != null">
				#{resourcename,jdbcType=VARCHAR},
			</if>
			<if test="resourcepackageid != null">
				#{resourcepackageid,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				#{version,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cn.webApp.model.AppResource">
		update app_resource
		<set>
			<if test="resourcename != null">
				resourcename = #{resourcename,jdbcType=VARCHAR},
			</if>
			<if test="resourcepackageid != null">
				resourcepackageid =
				#{resourcepackageid,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cn.webApp.model.AppResource">
		update
		app_resource
		set resourcename = #{resourcename,jdbcType=VARCHAR},
		resourcepackageid = #{resourcepackageid,jdbcType=VARCHAR},
		path =
		#{path,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR},
		state =
		#{state,jdbcType=INTEGER},
		version = #{version,jdbcType=VARCHAR}
		where
		ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>