<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webApp.dao.IAppSoureDao" >
  <resultMap id="AppSoureMap"  type="com.cn.webApp.model.AppSoure" >
    <id column="APPCODE" property="appcode" jdbcType="VARCHAR" />
    <result column="APPNAME" property="appname" jdbcType="VARCHAR" />
    <result column="APPVER" property="appver" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_AppSoure_List" >
    APPCODE, APPNAME, APPVER, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="AppSoureMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_AppSoure_List" />
    from base_appsoure
    where APPCODE = #{appcode,jdbcType=VARCHAR}
  </select>
  <!-- 查找全部 -->
  <select id="findAll" resultMap="AppSoureMap" resultType="list" >
    select 
    <include refid="Base_AppSoure_List" />
    from base_appsoure
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_appsoure
    where APPCODE = #{appcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.webApp.model.AppSoure" >
    insert into base_appsoure (APPCODE, APPNAME, APPVER, 
      DESCRIPTION)
    values (#{appcode,jdbcType=VARCHAR}, #{appname,jdbcType=VARCHAR}, #{appver,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.webApp.model.AppSoure" >
    insert into base_appsoure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appcode != null" >
        APPCODE,
      </if>
      <if test="appname != null" >
        APPNAME,
      </if>
      <if test="appver != null" >
        APPVER,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appcode != null" >
        #{appcode,jdbcType=VARCHAR},
      </if>
      <if test="appname != null" >
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="appver != null" >
        #{appver,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.webApp.model.AppSoure" >
    update base_appsoure
    <set >
      <if test="appname != null" >
        APPNAME = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="appver != null" >
        APPVER = #{appver,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where APPCODE = #{appcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.webApp.model.AppSoure" >
    update base_appsoure
    set APPNAME = #{appname,jdbcType=VARCHAR},
      APPVER = #{appver,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where APPCODE = #{appcode,jdbcType=VARCHAR}
  </update>
</mapper>