<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.webApp.dao.IDataSourceDao">
	<resultMap id="DataSourceMap" type="com.cn.webApp.model.DataSource">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="CUSTOMERUNITCODE" property="customerunitcode"
			jdbcType="VARCHAR" />
		<result column="DS_HOST" property="dsHost" jdbcType="VARCHAR" />
		<result column="DS_PORT" property="dsPort" jdbcType="VARCHAR" />
		<result column="DS_TYPE" property="dsType" jdbcType="VARCHAR" />
		<result column="DS_NAME" property="dsName" jdbcType="VARCHAR" />
		<result column="DS_USER" property="dsUser" jdbcType="VARCHAR" />
		<result column="DS_PWD" property="dsPwd" jdbcType="VARCHAR" />
		<result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />
		<result column="DS_MODEL" property="dsModel" jdbcType="VARCHAR" />
		<result column="APPID" property="appid" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="EFFECTIVE" property="effective" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Base_DataSource_List">
		ID, CUSTOMERUNITCODE, DS_HOST, DS_PORT, DS_TYPE, DS_NAME,
		DS_USER,
		DS_PWD, ADD_TIME,
		LAST_UPDATE_TIME, DS_MODEL, APPID, NAME,
		REMARK, EFFECTIVE
	</sql>
	<select id="selectByPrimaryKey" resultMap="DataSourceMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_DataSource_List" />
		from base_datasource
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<select id="queryByAppid" resultMap="DataSourceMap"
		parameterType="com.cn.webApp.model.DataSource" resultType="list">
		select
		<include refid="Base_DataSource_List" />
		from base_datasource
		<where>
			<if test="customerunitcode != null">
				(CUSTOMERUNITCODE is NULL  or CUSTOMERUNITCODE = #{customerunitcode,jdbcType=VARCHAR})
			</if>
			<if test="appid != null">
				and APPID = #{appid,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="queryAllResource" resultMap="DataSourceMap"
		parameterType="java.lang.String" resultType="list">
		select
		<include refid="Base_DataSource_List" />
		from base_datasource
		where appid = #{appid,jdbcType=VARCHAR}
	</select>

	<select id="findAll" resultMap="DataSourceMap" resultType="list">
		select
		<include refid="Base_DataSource_List" />
		from base_datasource
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		base_datasource
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.cn.webApp.model.DataSource">
		insert into base_datasource
		(ID, CUSTOMERUNITCODE, DS_HOST,
		DS_PORT, DS_TYPE, DS_NAME,
		DS_USER,
		DS_PWD, ADD_TIME,
		LAST_UPDATE_TIME, DS_MODEL, APPID,
		NAME, REMARK,
		EFFECTIVE
		)
		values (#{id,jdbcType=VARCHAR},
		#{customerunitcode,jdbcType=VARCHAR},
		#{dsHost,jdbcType=VARCHAR},
		#{dsPort,jdbcType=VARCHAR}, #{dsType,jdbcType=VARCHAR},
		#{dsName,jdbcType=VARCHAR},
		#{dsUser,jdbcType=VARCHAR},
		#{dsPwd,jdbcType=VARCHAR},
		#{addTime,jdbcType=TIMESTAMP},
		#{lastUpdateTime,jdbcType=TIMESTAMP}, #{dsModel,jdbcType=VARCHAR},
		#{appid,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{effective,jdbcType=DECIMAL}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.cn.webApp.model.DataSource">
		insert into base_datasource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="customerunitcode != null">
				CUSTOMERUNITCODE,
			</if>
			<if test="dsHost != null">
				DS_HOST,
			</if>
			<if test="dsPort != null">
				DS_PORT,
			</if>
			<if test="dsType != null">
				DS_TYPE,
			</if>
			<if test="dsName != null">
				DS_NAME,
			</if>
			<if test="dsUser != null">
				DS_USER,
			</if>
			<if test="dsPwd != null">
				DS_PWD,
			</if>
			<if test="addTime != null">
				ADD_TIME,
			</if>
			<if test="lastUpdateTime != null">
				LAST_UPDATE_TIME,
			</if>
			<if test="dsModel != null">
				DS_MODEL,
			</if>
			<if test="appid != null">
				APPID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="effective != null">
				EFFECTIVE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="customerunitcode != null">
				#{customerunitcode,jdbcType=VARCHAR},
			</if>
			<if test="dsHost != null">
				#{dsHost,jdbcType=VARCHAR},
			</if>
			<if test="dsPort != null">
				#{dsPort,jdbcType=VARCHAR},
			</if>
			<if test="dsType != null">
				#{dsType,jdbcType=VARCHAR},
			</if>
			<if test="dsName != null">
				#{dsName,jdbcType=VARCHAR},
			</if>
			<if test="dsUser != null">
				#{dsUser,jdbcType=VARCHAR},
			</if>
			<if test="dsPwd != null">
				#{dsPwd,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="dsModel != null">
				#{dsModel,jdbcType=VARCHAR},
			</if>
			<if test="appid != null">
				#{appid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="effective != null">
				#{effective,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cn.webApp.model.DataSource">
		update base_datasource
		<set>
			<if test="customerunitcode != null">
				CUSTOMERUNITCODE = #{customerunitcode,jdbcType=VARCHAR},
			</if>
			<if test="dsHost != null">
				DS_HOST = #{dsHost,jdbcType=VARCHAR},
			</if>
			<if test="dsPort != null">
				DS_PORT = #{dsPort,jdbcType=VARCHAR},
			</if>
			<if test="dsType != null">
				DS_TYPE = #{dsType,jdbcType=VARCHAR},
			</if>
			<if test="dsName != null">
				DS_NAME = #{dsName,jdbcType=VARCHAR},
			</if>
			<if test="dsUser != null">
				DS_USER = #{dsUser,jdbcType=VARCHAR},
			</if>
			<if test="dsPwd != null">
				DS_PWD = #{dsPwd,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="dsModel != null">
				DS_MODEL = #{dsModel,jdbcType=VARCHAR},
			</if>
			<if test="appid != null">
				APPID = #{appid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="effective != null">
				EFFECTIVE = #{effective,jdbcType=DECIMAL},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cn.webApp.model.DataSource">
		update
		base_datasource
		set CUSTOMERUNITCODE =
		#{customerunitcode,jdbcType=VARCHAR},
		DS_HOST =
		#{dsHost,jdbcType=VARCHAR},
		DS_PORT = #{dsPort,jdbcType=VARCHAR},
		DS_TYPE = #{dsType,jdbcType=VARCHAR},
		DS_NAME =
		#{dsName,jdbcType=VARCHAR},
		DS_USER = #{dsUser,jdbcType=VARCHAR},
		DS_PWD = #{dsPwd,jdbcType=VARCHAR},
		ADD_TIME =
		#{addTime,jdbcType=TIMESTAMP},
		LAST_UPDATE_TIME =
		#{lastUpdateTime,jdbcType=TIMESTAMP},
		DS_MODEL =
		#{dsModel,jdbcType=VARCHAR},
		APPID = #{appid,jdbcType=VARCHAR},
		NAME =
		#{name,jdbcType=VARCHAR},
		REMARK = #{remark,jdbcType=VARCHAR},
		EFFECTIVE = #{effective,jdbcType=DECIMAL}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>
	<update id="updateCusCodeEffective" parameterType="java.lang.String">
		update
		base_datasource
		set 
		CUSTOMERUNITCODE = null
		where CUSTOMERUNITCODE =
		#{customerunitcode,jdbcType=VARCHAR}
	</update>
</mapper>